.loginpage_logo_container {
  position: absolute;
  top: 13%;
  left: 8%;
}
.loginpage_logo {
  width: 120px;
  margin-bottom: 10px;
}
.loginpage_left_maincontainer {
  position: relative;
  background-color: #4052e6;
  height: 100vh;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  padding: 0px 80px 0px 80px;
}
.loginpage_title {
  color: #fff;
  margin-top: 0px;
  margin-bottom: 0px;
}
.loginpage_cards_container {
  display: flex;
  gap: 20px;
  margin-top: 40px;
}
.loginpage_cards {
  background-color: #ffffff1a;
  border-radius: 1rem;
  padding: 1.5rem;
  flex: 1;
  position: relative;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}
.loginpage_cards_icon_container {
  background-color: #fff3;
  width: 48px;
  height: 48px;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
  color: #fff;
}
.loginpage_cards_heading {
  color: #fff;
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  position: relative;
}
.loginpage_cards_description {
  color: #fffc;
  font-size: 13.5px;
  line-height: 1.5;
}
.loginpage_right_maincontainer {
  width: 100%;
  max-width: 420px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loginpage_login_heading {
  font-weight: 600;
  font-size: 2rem;
  text-align: center;
}
.loginpage_description {
  color: #6b7280;
  font-size: 14px;
  line-height: 1.6;
  text-align: center;
  margin-top: 10px;
}
.loginpage_forgotpassword_container {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-top: 12px;
  font-size: 13px;
  color: #3b42e4;
}
.loginpage_forgotpassword {
  cursor: pointer;
}
.loginpage_submitbutton {
  width: 100%;
  background-color: #3b42e4;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  padding: 1rem;
  font-size: 0.95rem;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s;
  margin-top: 24px;
}
.loginpage_loading_submitbutton {
  width: 100%;
  background-color: #3b42e4;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  padding: 1rem;
  font-size: 0.95rem;
  font-weight: 500;
  cursor: default;
  transition: background-color 0.2s;
  margin-top: 24px;
  opacity: 0.7;
}
