/* mui textinput field styles */
.common_inputfield .MuiInputLabel-root {
  font-family: "Poppins", sans-serif !important;
  -webkit-tap-highlight-color: none;
}
.MuiInputBase-root.MuiOutlinedInput-root {
  font-family: "Poppins", sans-serif !important;
}
.common_inputfield .MuiOutlinedInput-root:hover fieldset {
  border-color: rgba(128, 128, 128, 0.712) !important;
}
.common_inputfield .MuiOutlinedInput-root.Mui-focused fieldset {
  border-color: #5b69ca !important;
  border-width: 1px !important;
}
.common_inputfield .MuiInputLabel-root.Mui-focused {
  color: #5b69ca !important;
}
.common_inputfield .MuiInputLabel-root.Mui-error.Mui-focused {
  color: #d32f2f !important;
}
.common_inputfield .MuiOutlinedInput-root.Mui-error fieldset {
  border-color: #d32f2f !important;
}
.common_inputfield .MuiFormHelperText-root.Mui-error {
  position: absolute;
  bottom: -24px;
  font-family: "Poppins", sans-serif !important;
  line-height: 1.9 !important;
  /* font-size: 11px !important; */
}

/* mui select field styles */
.common_selectfield * {
  -webkit-tap-highlight-color: transparent;
}

.common_selectfield .MuiSelect-select {
  font-family: "Poppins", sans-serif !important;
}
.common_selectfield .MuiSelect-select[aria-expanded="false"] {
  color: rgba(0, 0, 0, 0.87);
}
.MuiMenuItem-root {
  font-family: "Poppins", sans-serif !important;
}
.common_selectfield_errortext {
  color: #d32f2f !important;
  font-family: "Poppins", sans-serif !important;
  margin-bottom: 0 !important;
  position: absolute;
}

.common_selectfield .MuiInputLabel-root {
  font-family: "Poppins", sans-serif !important;
}
.MuiInputBase-root.MuiOutlinedInput-root {
  font-family: "Poppins", sans-serif !important;
}
.common_selectfield .MuiOutlinedInput-root:hover fieldset {
  border-color: rgba(128, 128, 128, 0.712) !important;
}
.common_selectfield .MuiOutlinedInput-root.Mui-focused fieldset {
  border-color: #5b69ca !important;
  border-width: 1px !important;
}
.common_selectfield .MuiInputLabel-root.Mui-focused {
  color: #5b69ca !important;
}
.common_selectfield .MuiInputLabel-root.Mui-error.Mui-focused {
  color: #d32f2f !important;
}
.common_selectfield .MuiOutlinedInput-root.Mui-error fieldset {
  border-color: #d32f2f !important;
}
.common_selectfield .MuiFormHelperText-root.Mui-error {
  position: absolute;
  bottom: -20px;
  font-family: "Poppins", sans-serif !important;
  line-height: 1.9 !important;
  font-size: 11px !important;
}

/* antd datepicker styles */
.common_singledatepicker {
  border-radius: 5px !important;
  border-color: rgba(0, 0, 0, 0.23) !important;
  border-width: 1px !important;
}
.ant-picker .ant-picker-input > input::placeholder {
  color: rgba(0, 0, 0, 0.6) !important;
}
.common_singledatepicker_error {
  border-radius: 5px !important;
  border-color: #d32f2f !important;
  border-width: 1px !important;
}
.common_singledatepicker_errortext {
  color: #d32f2f !important;
  margin-top: 5px;
  margin-left: 12px !important;
  font-size: 11px !important;
  font-family: "Poppins", sans-serif !important;
}
.common_singledatepicker .ant-picker-input > input::placeholder {
  color: rgba(0, 0, 0, 0.6) !important;
}
.ant-btn-variant-solid {
  background: #5b69ca !important;
}
/* Red placeholder when error exists */
.common_singledatepicker_error .ant-picker-input > input::placeholder {
  color: #d32f2f !important;
}
.commontimepicker_errormessagediv {
  position: absolute;
  left: 0%;
  opacity: 0;
  top: 0%;
}
.commontimepicker_errormessage_activediv {
  transform: translateX(2%);
  font-size: 11px !important;
  opacity: 1;
  position: absolute;
  transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
}
/* textarea label */
.commontextarea_label {
  font-size: 13px;
  margin-bottom: 6px !important;
}
.commontextarea {
  border-radius: 5px !important;
}
.commontextarea:hover {
  border-color: rgba(128, 128, 128, 0.712) !important;
  box-shadow: none !important;
}
.commontextarea:focus {
  border-color: #5b69ca !important;
  box-shadow: none !important;
}
/* common table styles */
.commontable_paginationlabel {
  color: gray;
  font-size: 12px;
  cursor: default !important;
  margin-left: 6px !important;
}
.commontable_pagination_prevbutton {
  /* border: 1px solid rgba(128, 128, 128, 0.548); */
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  color: #333;
}
.commontable_pagination_prevbutton:disabled {
  /* border: 1px solid rgba(128, 128, 128, 0.178); */
  opacity: 0.1;
  cursor: not-allowed;
  pointer-events: none;
  color: red;
}

/* common daterangepicker styles */
.commondaterangepicker_maincontainer {
  border: 1px solid rgba(128, 128, 128, 0.281);
  padding: 12px;
  border-radius: 4px;
  box-shadow: 0px 2px 30px #ccc6;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.common_rangepicker_footer {
  display: flex;
  justify-content: space-between;
}
.common_rangepicker_resetbutton {
  border-radius: 6px;
  border: 1px solid rgba(128, 128, 128, 0.548);
  background-color: transparent;
  padding: 5px 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  height: 28px;
  color: #333;
}
.common_rangepicker_applybutton {
  border-radius: 6px;
  border: 1px solid #5b69ca;
  background-color: #5b69ca;
  padding: 5px 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  height: 28px;
  color: #fff;
}
.daterangepicker_select .ant-select-selector {
  font-size: 12px !important;
}
.custom-date-range-row {
  display: flex;
  flex-wrap: wrap;
}
.rdrStartEdge {
  background: #5b69ca !important;
}
.rdrInRange {
  background: #5b69ca !important;
}
.rdrEndEdge {
  background: #5b69ca !important;
}
/* Change the border color of the selected range preview */
.rdrDayStartPreview,
.rdrDayInPreview,
.rdrDayEndPreview {
  border-color: #5b69ca !important; /* Change to any color you like */
}
.rdrDateDisplayItem input {
  height: 25px !important;
  font-size: 12px !important;
}
.rdrDateDisplayItemActive {
  border-color: #5b69ca !important;
}
.rdrMonthAndYearWrapper {
  height: 46px !important;
  padding-top: 0px !important;
}
.rdrMonth {
  padding: 4px 4px !important;
}
/* Reduce calendar height */
.custom-daterange .rdrCalendarWrapper {
  height: 100px; /* Adjust height as needed */
}

/* Reduce individual calendar size */
.custom-daterange .rdrMonth {
  width: 100%;
  /* padding: 4px; */
}

/* Reduce navigation size */
.custom-daterange .rdrMonthAndYearWrapper {
  /* padding: 4px 8px; */
  font-size: 12px;
}

/* Reduce day size */
.custom-daterange .rdrDay {
  height: 30px;
}

.custom-daterange .rdrDayNumber span {
  font-size: 12px;
}
/* current date */
.rdrDayToday .rdrDayNumber span {
  border: 1px solid #5b69ca;
  padding: 4px;
  display: flex;
  align-items: center;
  height: 100%;
  background-color: #fff !important;
  color: #333 !important;
  border-radius: 4px !important;
}
.rdrDayToday .rdrDayNumber span:after {
  height: 0px !important;
  width: 0 !important;
}

/* common textarea styles */
.commontextarea_error {
  border-color: #d32f2f !important;
}
.commontextarea_error:hover {
  border-color: #d32f2f !important;
  box-shadow: none !important;
}
.commontextarea_error:focus {
  border-color: #d32f2f !important;
  box-shadow: none !important;
}
.commontextarea_errormessagediv {
  position: absolute;
  left: 0%;
  opacity: 0;
  top: 0%;
}
.commontextarea_errormessage_activediv {
  transform: translateX(4%);
  transform: translateY(20%);
  opacity: 1;
  position: absolute;
  font-size: 12px !important;
  transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
}

/* signature pad styles */
.signature-wrapper {
  width: 100%;
  max-width: 100%;
}
.sigCanvas {
  border: 1px solid rgba(128, 128, 128, 0.568);
  border-radius: 6px;
  margin-top: 12px;
  /* height: auto !important; */
}
.signaturepad_clearbutton {
  font-size: 13px !important;
  border-radius: 6px !important;
}
.signaturepad_clearbutton:hover {
  color: #5b69ca !important;
  border-color: #5b69ca !important;
}
.signaturepad_downloadbutton {
  background-color: #5b69ca;
  color: #fff;
  border-radius: 6px !important;
  font-size: 13px !important;
  border-color: #5b69ca !important;
}
.signaturepad_downloadbutton:hover {
  background-color: #5b69ca !important;
  color: #fff !important;
  opacity: 0.7;
}

/* token expire modal styles */
.sessionmodal_okbuttonContainer {
  display: flex;
  justify-content: flex-end;
  margin-top: 12px;
}
.sessionmodal_okbutton {
  color: #fff;
  background-color: #5b69ca;
  box-shadow: 0 2px 0 rgba(88, 5, 255, 0.06);
  font-size: 14px;
  height: 30px;
  width: 64px;
  border-radius: 6px;
  margin-top: 10px;
}
.sessionmodal_okbutton:hover {
  background-color: #5b69ca !important;
  border-color: #5b69ca !important;
  color: #fff !important;
  opacity: 0.7;
}

/* imagecrop styles */
.imgcrop_label {
  position: absolute;
  top: -48%;
}
.imgcrop_label_withvalue {
  position: absolute;
  top: -26%;
}
.imgcrop_uploadbutton {
  font-size: 11px !important;
}
.imgcrop_uploadbutton:hover {
  border-color: #5b69ca !important;
  color: #5b69ca !important;
}

/* common mui custom datepicker styles */
.common_muicustomdatepicker_daterange_button {
  border: 1px solid #d9d9d9 !important;
  /* padding: 4px 40px !important; */
  width: 320px !important;
  height: 35px !important;
  color: rgba(0, 0, 0, 0.88) !important;
  font-weight: 400 !important;
}
.common_muicustomdatepicker_daterange_button:hover {
  background-color: transparent !important;
  opacity: 1 !important;
  border-color: rgba(128, 128, 128, 0.712) !important;
}

/* view invoice styles */
.invoice-container table {
  border: none; /* or your invoice-specific border */
}

.invoice-container table th,
.invoice-container table td {
  border: none !important;
  padding: 8px !important;
  text-align: center !important;
}

/* common certificate viewer styles */
.common_certviewer_certificate {
  width: 794px;
  height: 1250px;
  margin: 0;
  padding: 0;
  position: relative;
  background: transparent;
}
.common_certviewer_downloadbutton_container {
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;
  width: 97%;
}
/* common delete modal styles */
.common_deletemodalContainer {
  margin-top: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.common_deletemodal_iconContainer {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fde2e2;
}
.common_deletemodal_confirmdeletetext {
  font-weight: 600;
  margin-top: 12px !important;
  font-size: 16px;
}
.common_deletemodal_text {
  color: gray;
  margin-top: 6px !important;
  line-height: 24px !important;
}
.common_deletemodal_footerContainer {
  display: flex;
  margin-top: 22px;
  gap: 24px;
}
.common_deletemodal_cancelbutton {
  width: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.common_deletemodal_cancelbutton:hover {
  border-color: #5b69ca !important;
  color: #5b69ca !important;
}
.common_deletemodal_deletebutton {
  width: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.common_deletemodal_loading_deletebutton {
  width: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: default;
  opacity: 0.7;
}

/* antd multiselect styles */
.commonantdmultiselect_label {
  /* position: absolute; */
  font-size: 12px;
  margin-bottom: 6px !important;
  color: #333;
}
.commonMultiselectfield .ant-select-selector {
  min-height: 41px;
  max-height: 120px;
  overflow-y: auto;
  border-radius: 4px !important;
  scrollbar-width: thin;
  border-width: 1px !important;
  border-color: rgba(128, 128, 128, 0.56) !important;
  box-shadow: none !important;
}
.commonMultiselectfield:hover.ant-select:not(.ant-select-disabled):not(
    .ant-select-customize-input
  ):not(.ant-pagination-size-changer)
  .ant-select-selector {
  border-color: rgba(128, 128, 128, 0.705) !important;
  box-shadow: none !important;
}
.common_antdmultiselectfield_error:hover.ant-select:not(
    .ant-select-disabled
  ):not(.ant-select-customize-input):not(.ant-pagination-size-changer)
  .ant-select-selector {
  border-color: #d32f2f !important;
  box-shadow: none !important;
}
.common_antdmultiselectfield_error .ant-select-selector {
  min-height: 41px;
  max-height: 80px;
  overflow-y: auto;
  border-radius: 4px !important;
  scrollbar-width: thin;
  border-width: 1px !important;
  border-color: rgba(128, 128, 128, 0.56) !important;
}
.ant-select-outlined.ant-select-multiple .ant-select-selection-item {
  height: 26px;
  font-size: 11.5px;
  padding: 2px 9px !important;
  margin: 2px 2px 8px 2px !important;
  border-radius: 9px;
  display: flex;
  align-items: center;
}
.commonantdmultifield_errortext {
  font-size: 12px;
  color: #d32f2f;
  margin-top: 4px !important;
}
.ant-select-dropdown
  .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  background-color: #5b6aca2e !important;
}
.ant-select-dropdown
  .ant-select-item-option-selected:not(.ant-select-item-option-disabled)
  .ant-select-item-option-state {
  color: #5b69ca !important;
}
.common_antdmultiselect_checkbox .ant-checkbox-checked .ant-checkbox-inner {
  background-color: #5b69ca !important;
  border-color: #5b69ca !important;
}

/* donut chart styles */
.apexcharts-legend-series.legend-inactive {
  opacity: 0.3;
}

.apexcharts-legend-series.legend-active {
  opacity: 1;
  font-weight: 600;
}

/* ---- DONUT HOVER GLOW RING ---- */
.apexcharts-pie-series path {
  transition: stroke-width 0.25s ease, stroke-opacity 0.25s ease;
}

/* real glowing ring */
/* remove old ring styles */
.apexcharts-pie-series path.slice-hover {
  stroke: none !important;
}

/* ring clone */
.apexcharts-pie-series path.slice-ring {
  fill: none !important;
  stroke-width: 10px;
  stroke-opacity: 0.35;
  pointer-events: none;
}

/* .apexcharts-pie-series path.slice-hover {
  filter: drop-shadow(0 0 0 rgba(0, 0, 0, 0));
} */

.apexcharts-pie-series path.slice-hover::before {
  content: "";
}

/* Outer ring illusion */
.apexcharts-pie-series path.slice-hover {
  stroke-width: 10px !important;
  stroke-opacity: 0.25;
  stroke: currentColor;
}

/* Legend sync */
.legend-active {
  font-weight: 600;
  opacity: 1;
}

.legend-inactive {
  opacity: 0.35;
}

/* ellipsis tooltip styles */
.ellipsistooltip_smalltext {
  color: gray;
  font-size: 13px;
  display: block;
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
