:root {
  line-height: 1.5;
  font-weight: 400;
  /* color: rgba(255, 255, 255, 0.87); */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  font-family: "Lexend", sans-serif;
}

a {
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: "Lexend", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
p {
  margin: 0;
  padding: 0;
  margin-bottom: 0 !important;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  transition:
    background 0.3s ease,
    transform 0.2s ease;
}
button:hover {
  transform: translateY(-2px);
}
button:focus,
button:focus-visible {
  outline: 0px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.common_heading {
  font-size: 30px;
  line-height: 38px;
  text-align: left;
}

/* antd layout styles */
.ant-layout-sider-children {
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin; /* Thin scrollbar */
  /* scrollbar-color: #0d1c40 #0d1c40; */
}
.ant-layout-sider {
  background-repeat: no-repeat !important;
  background-size: 100% !important;
  background-position: center !important;
  transition: all 0.4s ease;
}
.ant-menu-light .ant-menu-item {
  color: #333 !important;
  background-color: transparent;
  font-size: 15px !important;
  font-weight: 400 !important;
}
.ant-menu-light .ant-menu-item-selected {
  background-color: #e9f4fa !important;
  color: #2091d0 !important;
  font-weight: 400 !important;
  border-radius: 6px !important;
}

.ant-menu-light
  .ant-menu-item:not(.ant-menu-item-selected):not(
    .ant-menu-submenu-selected
  ):hover {
  font-weight: 400 !important;
  background-color: #e9f4fa;
  color: #2091d0 !important;
}
/* antd tabs */
.ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #2160ad !important;
  text-shadow: none !important;
}
.ant-tabs .ant-tabs-tab:hover {
  color: #2160ad !important;
}
.ant-tabs .ant-tabs-ink-bar {
  background: #2160ad !important;
}

/* antd upload styles */
/* .ant-upload-wrapper .ant-upload-list .ant-upload-list-item {
  position: absolute !important;
} */
.ant-upload-wrapper
  .ant-upload-list
  .ant-upload-list-item
  .ant-upload-list-item-name {
  color: #000000b4 !important;
  font-weight: 400 !important;
}
.ant-upload-wrapper.ant-upload-picture-circle-wrapper
  .ant-upload.ant-upload-select:not(.ant-upload-disabled):hover {
  color: #2160ad !important;
  border-color: #2160ad !important;
}

/* antd select field styles */
.ant-select.ant-select-outlined:not(.ant-select-disabled).ant-select-focused {
  border-color: #2160ad !important;
  box-shadow: 0 0 0 2px rgba(9, 78, 117, 0.13) !important;
}

/* antd datepicker styles */
.ant-picker-cell-in-view.ant-picker-cell-selected .ant-picker-cell-inner {
  background: #2160ad !important;
}
.ant-picker-outlined:hover {
  border-color: #2160ad !important;
}
.ant-picker-outlined.ant-picker-status-error:not(.ant-picker-disabled):hover {
  border-color: #d32f2f !important;
}
.ant-picker-outlined:focus {
  border-color: #2160ad !important;
  box-shadow: 0 0 0 2px #25a17e1e !important;
}
.ant-picker-outlined:focus-within {
  border-color: #2160ad !important;
  box-shadow: 0 0 0 2px #25a17e1e !important;
}
.ant-picker-outlined.ant-picker-status-error:not(
    .ant-picker-disabled
  ):focus-within {
  border-color: #d32f2f !important;
  box-shadow: 0 0 0 2px rgba(255, 38, 5, 0.06) !important;
}
.ant-picker-dropdown
  .ant-picker-cell-in-view.ant-picker-cell-today
  .ant-picker-cell-inner::before {
  border-color: #2160ad !important;
}
.ant-picker .ant-picker-input > input {
  font-size: 13.5px !important;
  font-weight: 350 !important;
  color: rgba(0, 0, 0, 0.88) !important;
}
/* antd checkbox styles */
.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #2160ad;
  border-color: #2160ad;
}
.ant-checkbox-checked:hover .ant-checkbox-inner {
  background-color: #2160ad !important;
  border-color: #2160ad !important;
}
.ant-checkbox-wrapper:hover .ant-checkbox-inner {
  border: 1px solid #2160ad !important;
}
.ant-checkbox-indeterminate .ant-checkbox-inner:after {
  background-color: #2160ad !important;
}
.ant-checkbox-checked .ant-checkbox-inner {
  border-color: #2160ad;
}
.ant-checkbox-wrapper:hover .ant-checkbox-checked .ant-checkbox-inner {
  background-color: #2160ad !important;
}
.ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox-input:focus + .ant-checkbox-inner {
  border-color: #2160ad;
}
.ant-checkbox-wrapper-disabled:hover
  .ant-checkbox-disabled
  .ant-checkbox-inner {
  border-color: #d9d9d9 !important;
}

/* antd popcover styles */
