.pages_sidebar_collapsed {
  width: 70px;
}
.sidebar_logo_collapsed {
  width: 36px;
  height: auto;
  margin-left: 4px;
  transition: all 0.4s ease-in-out;
}

.sidebar_logo_expanded {
  width: 80px;
  height: auto;
  margin-left: 18px;
  transition: all 0.4s ease-in-out;
}
