.pages_sidebar_collapsed {
  width: 70px;
}
.sidebar_logo_collapsed {
  width: 36px;
  height: auto;
  margin-left: 4px;
  transition: all 0.4s ease-in-out;
}

.sidebar_logo_expanded {
  width: 80px;
  height: auto;
  margin-left: 18px;
  transition: all 0.4s ease-in-out;
}

.pages_sidebar_innercontainer {
  position: relative;
  height: 100%;
  padding: 20px 18px 12px 8px;
  transition: all 0.3s ease-in-out;
}

.pages_sidebar_footer_container {
  position: absolute;
  bottom: 12px;
  left: 12px; /* match container padding */
  right: 12px; /* match container padding */
}

.pages_sidebar_footer_sub_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  margin-top: 20px;
  margin-bottom: 12px;
}

.pages_sidebar_footer_avatar_div {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #44345475;
  border-radius: 50%;
  transition: all 0.2s ease-in-out;
}

.pages_sidebar_login_username {
  color: #667085;
  font-weight: 500;
  font-size: 14px;
}

.pages_sidebar_login_useremail {
  color: gray;
  font-weight: 400;
  font-size: 13px;
}
